{% extends 'layout.twig' %}

{% block title %}問い合わせ確認{% endblock %}

{% block content %}

<h1>確認</h1>
<form method="post" action="/contact/complete">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

  <p>カテゴリー: {{ categoryLabels[data.category] }}</p>
  <p>名前: {{ data.name }}</p>
  <p>Email: {{ data.email }}</p>
  <p>問い合わせ内容:<br>{{ data.body|nl2br }}</p>

  <button>送信</button>
</form>

<form method="post" action="/contact">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <button>戻る</button>
</form>

{% endblock %}
